<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Programming Language</title>
</head>
<body>
    <h1>Add a New Programming Language</h1>
    <form method="post">
        {% csrf_token %}
        <label for="language_name">Language Name</label><br>
        <input type="text" name="language_name" id="language_name"><br><br>
        <label for="description">Description</label><br>
        <textarea name="description" cols="description" id="description"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="{% url 'programs:list' %}">Back to List</a>
</body>
</html>